<div class="container">
    <div class="container__form">
        <div class="mb-1 text-align-center fz-30">Вход</div>
        <div class="container__input mb-4">
            <input class="input input_text" type="text" placeholder="Логин" />
            <input class="input input_text" type="text" placeholder="Пароль" />
        </div>
        <div class="container__actions">
            <button class="mb-1" formaction="submit">Войти</button>
            <a href="register">Зарегистрироваться</a>
        </div>
    </div>
</div>