<div class="container_broken">
    <div class='description broken'>
      <div class='broken__title'>Что-то пошло не так...</div>
      <div class='broken__subtitle'>чиним</div>
      <a class="fz-30" href="/">Вернуться назад</a>
    </div>
    <img class="key-icon" src={{key}}/>
</div>
