.description {
  display: flex;
  width: 20rem;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: 100px;
  }
  &__subtitle {
    font-size: 35px;
    margin-bottom: 1rem;
  }
}