<div class="description">
  <span class="description__title">404</span>
  <span class="description__subtitle">Такой страницы не существует...</span>
  <a class="fz-30" href="/">Вернуться назад</a>
</div>